@model Category

<head>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-edit {
            margin-left: 90%;
        }

    </style>
</head>

<div class="header">
    <h1>Edit a category</h1>
    <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

<hr/>

<form method="post" class="w-75">
    <div class="border p-3 mt-4">
        <div class="mb-3 d-flex justify-content-around align-items-baseline">
            <label asp-for="Name" class="fw-bold">Name: </label>
            <div class="d-grid w-75">
                <input asp-for="Name" class="px-2 fst-italic" style="height: 150%">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        @* <div class="mb-3 row">   
            <label asp-for="DateCreate">Date Create</label>
            <input asp-for="DateCreate" type="datetime">
            <span asp-validation-for="DateCreate" class="text-danger"></span>
        </div> *@
        <button type="submit" class="btn btn-outline-primary btn-edit"><i class="bi bi-pen"></i></button>
    </div>
</form>